<tr>
  <% if current_user && current_user.admin? %>
    <td><%= check_box_tag "bet_ids[]", bet.id %></td>
  <% end %>

  <td> <%= bet.title %> </td>
  <td> <%= bet.benchmark %> </td>

  <% if bet.locked? %>
    <td class="danger">Closed</td>
  <% else %>
    <td >Open</td>
  <% end %>

  <% if current_user && current_user.admin? %>
    <td>
      <div class="btn-group">
        <%= link_to "edit", edit_bet_path(bet.id), class: "btn btn-default" %>

      <%= link_to "delete", bet, method: :delete, class: "btn btn-default", data: {confirm: "Confirm" } %>

      </div>
    </td>
  <% end %>
</tr>
