<tr>
  <td><%= check_box_tag "bet_ids[]", bet.id %></td>
  <td> <%= bet.title %> </td>
  <td> <%= bet.benchmark %> </td>

  <% if bet.locked? %>
    <td class="danger">Closed</td>
  <% else %>
    <td >Open</td>
  <% end %>

  <% if current_user && current_user.admin? %>
    <td>
      <%= link_to "edit", edit_bet_path(bet.id) %>,
      <%= link_to "delete", bet, method: :delete, data: {confirm: "Confirm" } %>
    </td>
  <% end %>
</tr>
