<% provide(:title, 'Lines') %>
<h1>Available Over / Unders</h1>

<div class="container">

<%= form_tag toggle_lock_bets_path, method: :put do %>
<table class=" users table table-hover">
    <thead>
      <tr>
        <th></th>
        <th><%= sortable "title", "Team" %></th>
        <th><%= sortable "benchmark", "Season Win Total" %></th>
        <th><%= sortable "locked", "Bet Closed?" %></th>
        <% if current_user && current_user.admin?%>
          <th>Admin Action</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
        <%= render @bets %>
    </tbody>
  </table>

  <% if current_user && current_user.admin?%>
    <%= submit_tag "Toggle Lock Checked", class: "btn btn-success" %>
  <% end %>

  <% end %>

</div>

<!-- below here is the create new form -->

<br>

<div class="container">
  <% if current_user && current_user.admin? %>
      <%= form_for(@bet, :html => {:class => 'form-inline'} ) do |f|%>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>
        <div class="form-group">
          <%= f.label :benchmark %>
          <%= f.number_field :benchmark, :step => 0.5 %>
        </div>
        <div class="form-group">
          <%= f.label :locked? %>
          <%= f.select :locked, [["Yes", false], ["No", true]] %>
        </div>
        <br>
        <div class="form-group">
          <%= f.submit "Create new bet", class: "btn btn-primary" %>
        </div>
      <% end %>
  <% end %>
</div>
