<% provide(:title, @user.name) %>

<div class="container">
  <div class="user_box">
    <%= profile_pic_for(@user) %>
    <p class="user_info">Name: <%= @user.name %></p>
    <p class="user_info">Email: <%= @user.email %></p>
    <p>
      <% if current_user.admin? && !current_user?(@user) %>
        <%= link_to "delete user permanently", @user, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
      </p>
  </div>
</div>

<div class="col-md-8">
  <% if @user.picks.any? %>
  <h3>Picks (<%= @user.picks.count %>)</h3>

  <table class=" users table table-hover">
      <thead>
        <tr>
          <th><%= "Title" %></th>
          <th><%= "Benchmark" %></th>
          <th><%= "Selection" %></th>
          <th><%= "Locked?" %></th>
          <th><%= "Value" %></th>
        </tr>
      </thead>
      <tbody>
          <%= render @picks %>
      </tbody>
    </table>
    <% end %>
  </div>
