<% provide(:title, @user.name) %>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><%= @user.name %></div>
  <div class="panel-body">
    <p>...</p>
  </div>
</div>


<div class="container">
  <% if @user.picks.count < 10 %>
    <p> Your Picks are Not Complete! </p>
    <p> Button here: pick more bets here! </p>
  <% elsif @user.picks.any? {|pick| !pick.locked? }%>
    <p> Your Picks are Complete, but can still be edited! </p>
    <p> Button here: edit your picks here! </p>
  <% else %>
    <p> All picks are locked! Enjoy the season </p>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
    <% if @user.picks.any? %>
    <div class="well"><strong>Picks</strong>:<br> (<%= @user.picks.count %> / 10)</div>
      </div>
    <div class="col-xs-6">
    <div class="well"><strong>Super Picks:</strong><br>(<%= @user.picks.where(super: true).count %> / 5)</div>
  </div>
  </div>
</div>


<div class="table-responsive">
  <table class=" table table-hover">
      <thead>
        <tr>
          <th><%= "Title" %></th>
          <th><%= "Benchmark" %></th>
          <th><%= "Selection" %></th>
          <th><%= "Locked?" %></th>
          <th><%= "Value" %></th>
          <th><%= "Delete?" %></th>
        </tr>
      </thead>
      <tbody>
          <%= render @picks %>
      </tbody>
    </table>
  </div>
    <% end %>
